body {
    font-family:'Lato';
    background-color: #333;
}

#topdiv{
    background-color:#333;
    'text-align:center;
}

#headerdiv {
    margin: 10px 40px 0 40px;
    background-color:#CCC;
    border-radius: 40px 40px 0 0;
    text-align:center;
}

#topmenu {
    text-align: center;
    background-color:#999;
    color:#EEE;
    'margin: 0 100px 0 100px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    display:inline-block;
}

#bodydiv {
    background-color:#0F0;
}

#leftdiv {
    background-color:#333;
    width:80%;
    float:left;
    height:auto;
}

#contentdiv {
    margin: 0 0 0 40px;
    background-color:#EEE;
    min-height:820px;
}

#articlediv {
    background-color:#EEE;
    margin-left:240px;
    margin-right:40px;
}

#leftnav {
    padding:0 10px 10px 10px;
    margin-right:20px;
    background-color:#CCC;
    float:left;
    height:auto;
    width:200px;
    border-radius: 0 0 4px 0;
}

div.navboxdiv {
    border: 1px solid #999;
    padding:10px;
    background-color:#EEE;
    border-radius:4px;
    margin: 0 0 10px 0;
    'text-align:right;
}

#rightdiv {
    background-color:#333;
    width:20%;
    float:right;
}

#rightblurbdiv {
    background-color:#CCC;
    margin: 0 40px 0 0;
    float:left;
    border-radius:0 0 40px 0;
}

#footerdiv {
    background-color:#999;
    color:#EEE;
    float:left;
    width:100%;
    border-radius:4px 4px 0 0;
    text-align:center;
}

p {
    padding:10px;
    margin:0px;
}

div#rightblurbdiv p {
    padding:10px;
    margin:0px;
}

div#headerdiv h1 {
    padding: 40px 40px 0 40px;
    margin: 0px;
    text-align:center;
    color:#333;
}

div#headerdiv h4 {
    color:#666;
}

a:link {color:#666;}
a:visited {color:777;}
a:hover {color:999;}
a:active {color:red;}

a.toplinks:link,a.toplinks:visited {color:#EEE;}
a.toplinks:hover {color:#FFF;}
a.toplinks:active {color:#CCC;}
a.toplinks {text-decoration:none;}

a.footerlinks:link,a.footerlinks:visited {color:#EEE; text-decoration:none;}
a.footerlinks:hover {color:#FFF; text-decoration:underline;}
a.footerlinks:active {color:#CCC;}
a.footerlinks {text-decoration:underline;}

a.navlinks:link,a:visited {color:#666;}
a.navlinks:hover {color:#222; text-decoration:underline;}
a.navlinks:active {color:#333;}
a.navlinks {text-decoration:none;}

img.picture {
    padding:10px;
}