body {
    font-family:'Lato';
}

#headerdiv{
    background-color:#F00;
    text-align:center;
}

#bodydiv {
    background-color:#0F0;
}

#contentdiv {
    background-color:#FF0;
    width:70%;
    float:left;
    height:auto;
}

#articlediv {
    margin-left:40px;
    background-color:#F0F;
}

#sidenavdiv {
    background-color:#0FF;
    width:30%;
    float:right;
    height:400px;
}

#footerdiv {
    background-color:#00F;
    float:left;
    width:100%;
}

p {
    padding:10px;
}

h1 {
    padding:40px;
}