body {
    font-family: 'Lato', sans-serif;
    background-image: url('images/sky.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    background-position:top center;
    background-color:black;
    background-attachment:fixed;
}

.wholething{
    width:80vw;
    margin:auto;
}

.imghead{
    display: block;
    margin: 10vh auto 10px auto;
    width:30%;
    max-width:300px;
}

h1 {
    text-align:center;
    padding:3px;
    color:lightgrey;
    margin: 25px 0px 10px 0px;
    font-size:6vw;
}

.subtitle {
    margin:0px 0px 15px 0px;
    text-align: center;
    color: #AAA;
    font-size:3vw;
    font-family:serif;
    font-style:italic;
}

.toplink {
    text-align: right;
    color: white;
    font-size: 10px;
}

ul.menuul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border: 2px solid #333333;
}

li.menuli {
    float: left;
    font-weight:600;
    color:white;
}

li.menuli a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size:2vw;
}

li.menuli a:hover {
    background-color: #111111;
}

article {
    color:lightgrey;
    background-color:rgba(44,44,44, 0.7);
    border: 2px solid #333333;
    margin: 5px 0px;
    padding: 0px 5px;
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #888888;
    font-family: Lato, sans-serif;
    font-weight:100;
    font-size:5vw
}

.paraimage {
    width:40%;
    padding:5px;
    
}

iframe {
    border: none;
}

.ytaspect {
    padding-bottom: 56.25%;
    position:relative;
    height: 0;
}

.ytembed {
    position: absolute;
    height: 100%;
    width: 100%;
}

footer{
    color:grey;
    font-size:12px;
    text-align:center;
    background-color: #333333;
    padding: 5px;
    margin: 5px;
}

a {color:#CCCCCC;}
a:hover {color:#777777;}
a:active {color:#EEEEEE;}
a:visited {color:#DDAAFF;}